@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


/* Custom CSS untuk tampilan dark */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1C1B1B;
    color: #fff;
}

/* Override gaya default Bootstrap jika diperlukan */
nav {
    background-color: #212529;
}

nav a {
    color: #fff;
}

.logo {
    width: 45.42px;
    /* Sesuaikan ukuran logo sesuai kebutuhan */
    height: 56.49px;
    /* Sesuaikan ukuran logo sesuai kebutuhan */
    /* Tambahkan gaya tambahan jika diperlukan */
}

section {
    padding: 40px 0;
}

h1,
h2,
h3 {
    color: #fff;
}

h2 {
    font-size: 23.4pt;
    font-weight: bold;
}

p {
    font-family: 'Square721 BT', sans-serif;
    font-size: 14.4pt;
    color: #fff;
}

.kecil-text {
    font-family: 'Square721 BT', sans-serif;
    font-size: 8.9pt;
    color: #fff;

}

.blue-text {
    color: #3AAEF9;
}

.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    height: 260px;
    /* Sesuaikan tinggi gambar sesuai kebutuhan */
    border-radius: 10px;
    /* Tambahkan border radius sesuai kebutuhan */
}

footer {
    background-color: #212529;
    padding: 20px 0;
    color: #fff;
}

footer p {
    margin-bottom: 0;
    text-align: center;
}

.welcome-section {
    background-image: url('/img/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 93vh;
}